@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html {
    scroll-behavior: smooth !important;
}

:root {
    --primary-bg-color: rgb(38, 50, 56);
    --secondary-bg-color: rgb(25, 34, 39);
    --hover-hightlight-color: rgb(255, 112, 66);
    --default-text-color: #fff;
    --header-primary-text-color: rgb(137,221,255);
    --header-secondary-text-color: rgb(195, 232, 141);
    --header-third-text-color: rgb(234, 111, 118);
    --secondary-text-color: rgb(93, 119, 132);
    --default-font: 'Roboto Mono', monospace;
}

#check:checked ~ .side-bar {
    left: -200px;
}

#check:checked ~ .side-bar .hide-collabs {
    display: none;
}

#check:checked ~ .content-box {
    margin-left: 50px;
}

@media(max-width:568px) {
    #check:checked ~ .side-bar {
        left: 0px !important;
    }

    #check:checked ~ .side-bar .hide-collabs {
        display: block;
    }

    #check:checked ~ .content-box {
        margin-left: 250px !important;
    }
}

.part-container {
    height: 100%;
    margin-top: 0px;
    padding-top: 100px !important;
    margin-bottom: 20px;
    padding: 30px;
    color: var(--default-text-color);
    font-size: 20px;
}